 /* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #333;
  margin-bottom: 50px;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  background-color: transparent;
  transition: .35s;
  padding: 16px 18px;
}



#logout {float: right !important;}

.current {
  background-color: #555 !important;
  color: #e7e7e7 !important;
  transition: .35s !important;
}

#navbar a:hover, .current:hover {
  color: #333 !important;
  background-color: rgba(230, 230, 230, 0.8) !important; 
  transition: .35s;
}

