* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #e7e7e7; 
}

.headings {
  /* Font size using vertical width will be responisve to the screen 1.2vw is eual to 24px */
  font-size: 1.2vw;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #191919;
  margin-bottom: 15px;
}

.newsTitles {
  /* Font size using vertical width will be responisve to the screen 0.9vw is eual to 16px */
  font-size: 0.9vw;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #191919;
}

.teamNames, .points {
  /* Font size using vertical width will be responisve to the screen 0.7vw is eual to 13px */
  font-size: 0.7vw;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #191919;
}

p, .scores {
  /* Font size using vertical width will be responisve to the screen 0.7vw is eual to 13px */
  font-size: 0.7vw;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #787878;
}


.content {
  width: 95%;
  margin-left:auto;
  margin-right:auto;
}

#newsStories, #teamRankings {
  background-color: #fff;
  padding: 30px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1%;
}

#newsStoriesFlex {
  display: inline-flex;
  overflow-x: hidden;
  overflow-y: hidden;
}

#newsStoriesFlex div {
  flex: 1;
}


.story {
  display: flex;
  width: 300px;
  max-width: 33.33%;
  margin-right: 90px;
}

/* News images */
.storyImg {
  flex: none !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  width: 5vw !important;
  height: 10vh !important;
  border: 1px inset #555;
  border-radius: 3px;
  margin-right: 5%;
  display:inline-block;
  vertical-align:middle;
}

/* setting images */
#storyImg1 {
    background-image: url('../img/News/1.jpg');
}

#storyImg2 {
    background-image: url('../img/News/2.jpg');
}

#storyImg3 {
    background-image: url('../img/News/3.jpg');
}


.story h3 {
  width: 250px;
  margin-bottom: 2%;
}


.storyFlexbox p {
  max-width: 260px;
  
}




















