* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f4f4f4; 
}

.headings {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #555;
}

.newsTitles {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #555;
}

.teamNames, .points {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #555;
}

p {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #787878;
}

th {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #777;
}

.content {

  width: 95%;
  margin-left:auto;
  margin-right:auto;
}
